<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/success.css" rel="stylesheet" />
    <script src="./js/submit.js"></script>
    <title>Success Page</title>
  </head>
  <body>
    <img src="./images/successIcon.png" alt="Error Icon" />
    <h1>Your Payment was Successful!</h1>
    <button>Reurn to Home</button>
  </body>
</html>
