body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow:auto;

}
header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ededed;
    white-space: nowrap;
}
.navbar{
    display: inline;
    padding: 15px;
    margin-left: 130px;
    font-family: 'Inter Tight', sans-serif;
}
.navbar > a{
    padding: 20px;
}
.navbar > a:hover {
    color: #176B87;
}
.search{
    padding: 10px;
    width: 30px;
    height: 30px;
    margin-left: 500px;
}
h1{
   
    font-family: 'Inter Tight', sans-serif;
}
h2{
   
    font-family: 'Inter Tight', sans-serif;
}
.trending{
    font-size: 64px;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.recent{
    font-size: 40px;
    margin-bottom: 10px;
}
h3{
    font-family: 'Newsreader', serif;
}
p{
    font-family: 'Inter Tight', sans-serif;
}
.articles{
 margin-left: 10%;
 margin-right: 5%;
}
footer{
    font-family: 'Newsreader', serif;
    color: black;
    margin-top: auto;
   height: 40px;
   padding-top: 20px;
   background-color: #ededed;
}
.footer-links{
    padding: 20px;
}
.social-links{
    float: right;
    margin-right: 10px;
}
.socials{
    width: 30px;
    height: 30px;
}
.article-images{
    width: 800px;
}
.main-article{
    margin-left: 30px;
}
.main-image{
    width: 85%;
}
.secondary-article{
    width: 40%;
}
.secondary-images{
    width: 40%;
}
a{
    text-decoration: none;
    color: black;
}

.article-link:hover{
    color: #176B87;
}
.logo{
    width: 500px;
  
}
