#top-content, #bottom-content{
  
    max-width: max-content;
    margin: auto;
    display: flex;
    margin-top: 40px;
}
#calculator{
    display : grid;
    grid-template-areas:
    "input input input input"
    "clear clear ce div"
    "seven eight nine mult"
    "four five six minus"
    "one two three plus"
    "sign zero dec equal";
    background-color: pink;
    border-radius: 10px;
    padding: 25px;
    gap: 5px;
    height: 600px;
    width: 500px;
}
#calculator button,input{
    font-size:xx-large;

}
#calculator input{
    text-align: right;
    height: 80px;

}
#calculator button{
    height: 90px;
    border-radius: 5px;
    background-color: #DE3163;
    color: white;
    border-color: #DE3163;
}
#calculator button.green{
    background-color: seagreen;
    border-color: seagreen;
}
#calculator button.blue{
    background-color: royalblue;
    border-color: royalblue;
}
#calculator.green{
    background-color: #C1E1C1;
}
#calculator.blue{
    background-color: #9BD5FE;
}
#history{
    background-color: rgb(243, 188, 196);
    margin-left: 20px;
    width: 500px;
    height: 650px;
    border-radius: 10px;
    font-size: x-large;
}
#history.green{
    background-color: #C1E1C1;
}
#history.blue{
    background-color: #9BD5FE;
}
#history h1{
    margin-left: 15px;

}
.clear-history{
    font-size: large;
    margin: 10px;
    
}
#entries{
    margin-left: 20px;

}
#entries:hover{
    background-color: white;

}

#past-entries{
    height: 470px;
    overflow-y: auto;
    font-size: x-large;
}
#history button{
    border-radius: 5px;
    background-color: #DE3163;
    color: white;
    border-color: #DE3163;
    height: 50px;
}
#history button.green{
    background-color: seagreen;
    border-color: seagreen;
}
#history button.blue{
    background-color: royalblue;
    border-color: royalblue;
}
#instructions{
    width: 50%;
    margin: 10px;
    margin-left: 10vw;
}
#theme{
    margin: 10px;
}
#user-input{ grid-area: input;}
#zero{ grid-area: zero;}
#one{ grid-area: one;}
#two{ grid-area: two;}
#three{ grid-area: three;}
#four{ grid-area: four;}
#five{ grid-area: five;}
#six{ grid-area: six;}
#seven{ grid-area: seven;}
#eight{ grid-area: eight;}
#nine{ grid-area: nine;}
#decimal{ grid-area: dec;}
#division{ grid-area: div;}
#multiplication{ grid-area: mult;}
#addition{ grid-area: plus;}
#subtraction{ grid-area: minus;}
#equal{ grid-area: equal;}
#plus-minus{ grid-area: sign;}
#clear{ grid-area: clear;}
#clear-entry{ grid-area: ce;}
/* TODO: make calculator size fixed and history scrollable */
