<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="/js/common.js" type="module"></script>
    <script src="/js/dashboard.js" type="module"></script>


  </head>
  <body>
    <header id="header">
      <h1>Welcome, <span id="username"></span></h1>
      <a href="/logout"><button>Logout</button></a>
    </header>
    <!-- Creating a Howl Modal -->
    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" id="howlBody" name="howlBody">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Howl</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Modal -->
    <div id="howls">
    </div>
  </body>
</html>
