<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <h1>Welcome, <span id="username"></span></h1>
        <a href="/logout"><button>Logout</button></a>
      </header>
      <div id="userBanner">
        <div id="avatar"></div>
        <div id="userInfo"></div>
        <!-- IF current user no button, if not following, button says follow , if following button says unfollow -->
        <button></button>
      </div>
      <div id="followers"></div>
      <div id="userHowls"></div>
</body>
</html>
